<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="JetBA" value="https://nuget.fury.io/nirbar" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="JetBA">
      <package pattern="Jet*" />
    </packageSource>
    <packageSource key="nuget">
      <package pattern="!Jet*" />
      <package pattern="PanelSwWix4.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
