<configuration>
  <packageSources>
    <clear/>
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="JetBaBinaries" value="https://nuget.pkg.github.com/nirbar/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <JetBaBinaries>
      <add key="Username" value="nirbar" />
      <add key="ClearTextPassword" value="6da2614c4bad5f468ab8b4731a6f9a6dbeb99042" />
    </JetBaBinaries>
  </packageSourceCredentials>
</configuration>