<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:jet="http://schemas.panel-sw.co.il/wix/JetWixExtension" xsi:schemaLocation="http://schemas.panel-sw.co.il/wix/JetWixExtension ../JetBA-Binaries/JetWixExtension.xsd">
  <?define UPGRADE_CODE = 11111111-1111-1111-1111-111111111111?>
  <?if $(var.UPGRADE_CODE) = 11111111-1111-1111-1111-111111111111?>
  <?warning Replace UPGRADE_CODE with a newly generated GUID value.?>
  <?endif?>

  <Bundle Name="!(bind.packageName.Setup.msi)"
          Version="!(bind.packageVersion.Setup.msi)"
          Manufacturer="!(bind.packageManufacturer.Setup.msi)"
          Tag="$(var.UPGRADE_CODE)"
          UpgradeCode="$(var.UPGRADE_CODE)"
          IconSourceFile="$(sys.SOURCEFILEDIR)spaceship.ico"
          SplashScreenSourceFile="$(sys.SOURCEFILEDIR)spaceship-128x128.bmp"
          >
    <?undef UPGRADE_CODE?>

    <BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost">
      <Payload Name="BootstrapperCore.config" SourceFile="$(var.SampleJetBA.ProjectDir)SampleJetBA.BootstrapperCore.config"/>
      <Payload SourceFile="$(var.SampleJetBA.TargetPath)"/>
      <!-- JetBA requisites -->
      <Payload SourceFile="$(var.SampleJetBA.TargetDir)PanelSW.Installer.JetBA.dll"/>
      <Payload SourceFile="$(var.SampleJetBA.TargetDir)PanelSW.Installer.JetBA.JetPack.dll"/>
      <Payload SourceFile="$(var.SampleJetBA.TargetDir)Ninject.dll"/>
      <Payload SourceFile="$(var.SampleJetBA.TargetDir)Ninject.Extensions.Factory.dll"/>
      <Payload SourceFile="$(var.SampleJetBA.TargetDir)Castle.Core.dll"/>
      <Payload SourceFile="$(var.SampleJetBA.TargetDir)JetBundleVariables.g.dll"/>

      <!-- Localizations -->
      <Payload SourceFile="$(var.SampleJetBA.TargetDir)he\SampleJetBA.resources.dll" Name="he\SampleJetBA.resources.dll"/>
      <Payload SourceFile="$(var.SampleJetBA.TargetDir)he\PanelSW.Installer.JetBA.resources.dll" Name="he\PanelSW.Installer.JetBA.resources.dll"/>
      <Payload SourceFile="$(var.SampleJetBA.TargetDir)he\PanelSW.Installer.JetBA.JetPack.resources.dll" Name="he\PanelSW.Installer.JetBA.JetPack.resources.dll"/>
     
      <!-- UI libraries -->
      <Payload SourceFile="$(var.SampleJetBA.TargetDir)Xceed.Wpf.AvalonDock.dll"/>
      <Payload SourceFile="$(var.SampleJetBA.TargetDir)Xceed.Wpf.AvalonDock.Themes.Aero.dll"/>
      <Payload SourceFile="$(var.SampleJetBA.TargetDir)Xceed.Wpf.AvalonDock.Themes.Metro.dll"/>
      <Payload SourceFile="$(var.SampleJetBA.TargetDir)Xceed.Wpf.AvalonDock.Themes.VS2010.dll"/>
      <Payload SourceFile="$(var.SampleJetBA.TargetDir)Xceed.Wpf.Toolkit.dll"/>
      <Payload SourceFile="$(var.SampleJetBA.TargetDir)PanelSwWpfControls.dll"/>
    </BootstrapperApplicationRef>
    <jet:JetBaSettings LicenseFile="$(sys.SOURCEFILEDIR)JetBA.lic"/>

    <Variable Name="INSTALL_FOLDER" Value="[ProgramFilesFolder][WixBundleName]\" Type="string" bal:Overridable="yes"/>
    <Variable Name="SQL_SERVER" Value="" Type="string" bal:Overridable="yes" Persisted="yes"/>
    <Variable Name="SQL_DATABASE" Value="" Type="string" bal:Overridable="yes" Persisted="yes"/>
    <Variable Name="SQL_USER" Value="" Type="string" bal:Overridable="yes" Persisted="yes"/>
    <Variable Name="SQL_PASSWORD" Value="" Type="string" bal:Overridable="yes" Hidden="yes" jet:Encrypt="yes" />
    <Variable Name="SQL_AUTH" Value="0" Type="numeric" bal:Overridable="yes" Persisted="yes"/>

    <Variable Name="SERVICE_USER" Value="" Type="string" bal:Overridable="yes" Persisted="yes"/>
    <Variable Name="SERVICE_PASSWORD" Value="" Type="string" bal:Overridable="yes" Hidden="yes" jet:Encrypt="yes" />

    <!-- Detect VC 2013 redist packages. No functional logic attached, just show how to use BundleSearch.
    VC2013 redist x86 and x64 share the same bundle UpgradeCode. Using NamePattern to make a destiction between them.
    -->
    <jet:BundleSearch UpgradeCode="{1D1DB5E6-E0D8-3103-8570-369A82A9BF33}" VersionVariable="DetectedVC2013x86Version" NamePattern="\bx86\b"/>
    <jet:BundleSearch UpgradeCode="{1D1DB5E6-E0D8-3103-8570-369A82A9BF33}" VersionVariable="DetectedVC2013x64Version" NamePattern="\bx64\b"/>

    <!-- Attach debugger -->
    <?ifdef Debug?>
    <Variable Name="BaLaunchDebugger" Value="1" Type="numeric" bal:Overridable="yes" Persisted="yes"/>
    <?endif?>

    <Chain DisableSystemRestore="yes" ParallelCache="yes">
      <PackageGroupRef Id="NetFx45Web"/>
      <MsiPackage SourceFile="$(var.Setup.TargetPath)">
        <MsiProperty Name="INSTALLFOLDER" Value="[INSTALL_FOLDER]"/>
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>