<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jet="http://schemas.panel-sw.co.il/wix/JetWixExtension" xsi:schemaLocation="http://schemas.panel-sw.co.il/wix/JetWixExtension ./JetWixExtension.xsd">
  <?define UPGRADE_CODE = 11111111-1111-1111-1111-111111111111?>
  <?if $(var.UPGRADE_CODE) = 11111111-1111-1111-1111-111111111111?>
  <?warning Replace UPGRADE_CODE with a newly generated GUID value.?>
  <?endif?>
  <Package Name="$(var.JetProductName)" Language="1033" Version="$(var.FullVersion)" Manufacturer="$(var.JetManufacturer)" UpgradeCode="$(var.UPGRADE_CODE)" InstallerVersion="200">
    <?undef UPGRADE_CODE?>

    <jet:JetLicense LicenseFile="$(sys.SOURCEFILEDIR)..\Bootstrapper\JetBA.lic" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." Schedule="afterInstallExecute" />
    <MediaTemplate CabinetTemplate="smple{0}.cab" />

    <Feature Id="ProductFeature" Title="$(var.JetProductName)" Level="1">
      <Files Directory="INSTALLFOLDER" Include="..\SampleJetBA\**\*.*"/>
    </Feature>

    <Property Id="MSIENFORCEUPGRADECOMPONENTRULES" Value="1" />
    <Property Id="MSIUNINSTALLSUPERSEDEDCOMPONENTS" Value="1" />

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="$(var.JetProductName)" />
    </StandardDirectory>
  </Package>
</Wix>
